.listBar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}
a {
  border: 1px solid #000;
}
.path {
}

.container {
  height: 100vh;
  background: #ddd;
  width: 110vw;
  display: grid;
  grid-template-columns: 1fr 4fr;
  color: #000;
  aside {
    border: 1px solid #000;
    border-radius: 10px;
  }
  main {
    padding: 2rem 2rem;
    .search {
      width: 100%;
      height: 2rem;
      background: #fff;
      border-radius: 90px;
      padding: 0 2rem;
      display: flex;
      justify-content: space-between;
    }

    section {
      margin: 1rem 0;
    }
    .list {
      height: 7rem;
      width: 36rem;
      overflow: auto;
      .outercard {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(10, 6rem);
        gap: 1rem;

        .card {
          background: white;
          box-shadow: 2px 2px 2px;

          height: 4rem;
          margin: 1rem;
        }
      }
    }
    .categories {
      height: 12rem;
      .list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        overflow: visible;
        .category {
          background: white;
          box-shadow: 2px 2px 2px;
          height: 4rem;
          margin: 1rem;
        }
      }
    }
  }
}
